*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    

}

body div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
body div button{
    padding: 10px 25px;
    margin-bottom: 35px;
    background-color: aqua;
    border: none;
    border-radius: 2px;
}

p{
    margin-top: 15%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bold;
}