*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    display: fixed;
}
.logo{
    margin: 10px 35px;
    height: 35px;
    width: 150px;
    padding-right: 35px;
    border-right: 1px solid rgb(162, 162, 162);
    cursor: pointer;
}
ul{
    display: flex;
    margin: 0 15px;
    gap: 35px;
    list-style: none;
}
li{
    color: aliceblue;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.nav-btn{
    height: 33px;
    width: 130px;
    background-color: #ba0cc5;
    border-radius: 5px;
    position: absolute;
    right: 45px;
    cursor: pointer;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
section{
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-attachment: fixed;
    height: 91.5vh;
    text-align: center;
}
h1{
    max-width: 846px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 88px;
    text-align: center;
    color: #ffffff;
    padding-top: 150px;
}
p{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
}
.sec-btn{
    background: #ba0cc5;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29.9487px;
    line-height: 45px;
    color: #ffffff;
    border: none;
    padding: 14px 18px;
    margin-top: 50px;
    cursor: pointer;
}